* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab';  
}

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container_login {
    height: 840px;
    width: 720px;
    left: 720px;
    top: 0px;
    background: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_image {
    height: 840px;
    width: 720px;
    left: 720px;
    top: 0px;
    border-radius: 0px;
    background: url(image.png);
    opacity: 0.84;
}

.image_ultima {
    height: 55px;
    width: 154px;
    left: 253px;
    top: 142px;
    border-radius: 0px;
    background: url(imageUltima.png);
}

h1 {
    margin-top: 150px;
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 316px;
    height: 56px;
    background-color: #f4f4f4;
    border: 0px;
    padding: 0 12px;
    margin-bottom: 1em;
    border-radius: 15px;
}

.checkbox {
    box-sizing: border-box;

    width: 18px;
    height: 18px;
    left: 160px;
    top: 521px;

    margin-right: 5px;

    border: 2px solid #000000;
}

label {
    margin-right: 20px;
}

button {
    width: 340px;
    height: 56px;
    background-color: #2A88C8;
    border: 0px;
    color: #ffff;
    margin-bottom: 24px;
    border-radius: 15px;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
    color: #111111;
}

a:hover {
    text-decoration: none;
    color: #111111;
}